body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

div {
    border: 1px solid black; /* You can customize the border style, width, and color */
}

.top-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    position: absolute;
    top: 10%;
    left: 1%;
    height: 80%; /* Adjust the height relative to the header */
    width: auto; /* Maintain aspect ratio */
    max-width: 25%;
}
.header-text {
    font-size: clamp(1rem, 2vw + 2vh, 3rem); /* Min 1rem, preferred 4vw + 4vh, max 3rem */
    color: #0B1215; /* Set text color */
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* Center align text */
}

.top-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5vh;
    /* height: 50vh; */
    min-height: -moz-fit-content; /* Firefox */
    min-height:fit-content; /* Standard */
    margin-top: 5vh;
}

.led-control-container, .model-container, .map-container {
    flex: 1; /* Ensures all containers take equal space */
    align-self: flex-start;
    align-items: center;
    /* justify-content: center; */
}

/* LED control */
.led-control-container {
    display: flex;
    flex-direction: column; /* Stack inputs vertically */
    /* align-items: center; */
    width: 25%;
    padding: 1vh;
}

.led-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1vh;
}

.led-control img {
    cursor: pointer;
    width: 80%;
}

.led-control-container input[type="color"] {
    display: none;
}

/* 3D model */
.model-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 1vh;
}

.model-container button {
    /* margin: 10px; */
    padding: 10px;
    font-size: clamp(1rem, 0.5vw + 0.5vh, 3rem);
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
}

.model-container button:hover {
    filter: brightness(90%);
}

.model-container .model {
    width: 80%;
    aspect-ratio: 1/0.8;
    margin: 1vh;
}

.model-container .model .model-viewer {
    width: 100%;
    height: 100%;
}


/* Map */
.map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

/* Sensor data */
.sensor-section {
    margin-top: 0;
    padding-left: 1vw;
    text-align: center;
}
.sensor-section h2 {
    margin-bottom: 0;
}
.sensor-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.sensor-value {
    margin: 0.5vh;
    padding: 1vh;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: #e0e0e0;
    border-radius: 5px;
    flex: 1;
    text-align: center;
    box-sizing: border-box;
}
/* Graph container */
#chart_div {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.container {
    flex: 1;
    margin: 0.5vh;
    padding: 1vh;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 50vh;
}

/* Responsive design */
@media only screen and (max-width: 780px) {
    .top-container {
        flex-direction: column;
        height: auto;
    }
    .led-control-container {
        width: 100%;
    }
    .model-container {
        width: 100%;
    }
    .map-container {
        width: 100%;
    }
    #chart_div {
        flex-direction: column;
    }
    .container {
        width: 100%;
    }
}